{% extends 'layout.html' %}
{% block title %}SPONSOR CONTACT{% endblock %}

{% block content %}
<!-- COPY -->
<tr>
	<td bgcolor="#ffffff" align="left"
	    style="padding: 20px 30px 40px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px; border-left: 1px solid #eee; border-right: 1px solid #eee;">
		<p style="margin: 0; color: #353434">Hi there,</p>
		<p></p>
		<p style="margin: 0; color: #353434">My name is {{username}} and email address is {{email_address}}</p>
		<p></p>
		<p></p>
		<p style="margin: 0; color: #8c8c8c;">{{message}}</p>
	</td>
</tr>
{% endblock %}